<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}Le lion d'or{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ asset('css/reset.css') }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> <!-- Resource style -->

    <script src="{{ asset('js/jquery-2.1.1.js') }}"></script> <!-- Jquery -->
    <script src="{{ asset('js/menu.js') }}"></script>
</head>
<body>
{% block navigation %}
    <header class="cd-header">
        <div id="cd-logo"><a href="{{ path('homepage') }}"><h1>Le lion d'or</h1></a></div>
        <nav class="cd-primary-nav">
            <ul>
                <li><a href="{{ path('maison') }}">Maison</a></li>
                <li><a href="#0">Tour</a></li>
                <li><a href="#0">Buy</a></li>
            </ul>
        </nav> <!-- cd-primary-nav -->
    </header>
    <section id="cd-intro">
        <div id="cd-intro-tagline">
            <h1>Secondary Fixed Navigation</h1>
        </div> <!-- #cd-intro-tagline -->
    </section> <!-- #cd-intro -->

    <div class="cd-secondary-nav">
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}"><h1>Le lion d'or</h1></a></li>
                <li><a href="{{ path('maison') }}">Maison</a></li>
                <li><a href="#0">Tour</a></li>
                <li><a href="#0">Buy</a></li>
            </ul>
        </nav>
    </div> <!-- .cd-secondary-nav -->
{% endblock %}

<main class="cd-main-content">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
