<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}Le lion d'or{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('img/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ asset('css/reset.css') }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{ asset('css/photoswipe.css') }}"> <!-- Photoswipe -->
    <link rel="stylesheet" href="{{ asset('css/default-skin/default-skin.css') }}"> <!-- Skin Photoswipe -->
    <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}"> <!-- Map Leaflet -->
    <link rel="stylesheet" href="{{ asset('css/flexboxgrid.min.css') }}"> <!-- grid flexbox -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> <!-- Resource style -->

    <script src="{{ asset('js/jquery-2.1.1.js') }}"></script> <!-- Jquery -->
    <script src="{{ asset('js/menu.js') }}"></script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//leliondor/analytics/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//leliondor/analytics/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>
<body>
{% block navigation %}
    <header class="cd-header">
        <div id="cd-logo"><a href="{{ path('homepage') }}"><h1>Le lion d'or</h1></a></div>
        <nav class="cd-primary-nav">
            <ul>
                <li{% if active == "accueil" %} class="active"{% endif %}><a href="{{ path('homepage') }}">Accueil</a></li>
                <li id="lmaison"{% if active == "maison" %} class="active"{% endif %}><a href="{{ path('maison') }}">La maison</a></li>
                <li id="ljardin"{% if active == "jardin" %} class="active"{% endif %}><a href="{{ path('maison') }}#jardin">Le jardin</a></li>
                <li{% if active == "tourisme" %} class="active"{% endif %}><a href="{{ path('activités') }}">Activités</a></li>
                <li{% if active == "contact" %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact/Tarif</a></li>
                {% if is_granted('ROLE_ADMIN') %}<li{% if active == "admin" %} class="active"{% endif %}><a href="{{ path('admin') }}">Admin</a></li>{% endif %}
            </ul>
        </nav> <!-- cd-primary-nav -->
    </header>
    <section id="cd-intro" style="background: url(../img/banner/{{ title_image }}) no-repeat center center;">
        <div id="cd-intro-tagline">
            <h1>{{ title }}</h1>
        </div> <!-- #cd-intro-tagline -->
    </section> <!-- #cd-intro -->

    <div class="cd-secondary-nav">
        <nav>
            <ul>
                <li{% if active == "accueil" %} class="active"{% endif %}><a href="{{ path('homepage') }}">Accueil</a></li>
                <li id="lmaison"{% if active == "maison" %} class="active"{% endif %}><a href="{{ path('maison') }}">La maison</a></li>
                <li id="ljardin"{% if active == "jardin" %} class="active"{% endif %}><a href="{{ path('maison') }}#jardin">Le jardin</a></li>
                <li{% if active == "tourisme" %} class="active"{% endif %}><a href="{{ path('activités') }}">Activités</a></li>
                <li{% if active == "contact" %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact/Tarif</a></li>
                {% if is_granted('ROLE_ADMIN') %}<li{% if active == "admin" %} class="active"{% endif %}><a href="{{ path('admin') }}">Admin</a></li>{% endif %}
            </ul>
        </nav>
    </div> <!-- .cd-secondary-nav -->
{% endblock %}

<main class="cd-main-content">
    {% block body %}{% endblock %}
</main>

<footer>
    <section class="cd-container">
        <div class="row center-xs between-xs">
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                <p>Copyright © 2016 liondor-lagorce.fr</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <p><a href="{{ path('mentions') }}">Mentions légales</a></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                <p>D1, 07150 Lagorce, France<br />06 13 16 14 78 - jean-pierre.ozil@liondor-lagorce.fr</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <p><a href="{{ path('notice') }}">Notice d'utilisation</a></p>
            </div>
        </div>
    </section>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
