{% extends 'base.html.twig' %}

{% block navigation %}{% endblock %}

{% set active = "accueil" %}

{% block body %}
    <div class="home">

        <section class="title cd-container">
            <h1>Le lion d'or</h1>
            <h2>Maison de vacances à Lagorce</h2>
        </section>

        <section class="cd-container">
            <div class="row between-xs">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="legend" href="{{ path('maison') }}#jardin">
                        <img class="responsive" src="{{ asset('img/home/jardin.png') }}" alt="jardin"/>
                        <h3>Jardin</h3>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="row top-xs end-xs">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a class="legend" href="{{ path('maison') }}">
                                <img class="responsive" src="{{ asset('img/home/interieur.png') }}" alt="intérieur"/>
                                <h3>Maison / Commodités</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row bottom-xs end-xs">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a class="legend" href="{{ path('activités') }}">
                                <img class="responsive" src="{{ asset('img/home/activités_tourisme_sports.png') }}"
                                     alt="activités & tourismes"/>
                                <h3>Tourisme / Sport</h3>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a class="legend" href="{{ path('activités') }}#culturelles">
                                <img class="responsive" src="{{ asset('img/home/activités_culturelles.png') }}"
                                     alt="activités culturelles"/>
                                <h3>Tourisme culturel</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center-xs">
                <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4">
                    <a class="button button-contact" href="{{ path('contact') }}">
                        <h3>Contactez-nous</h3>
                    </a>
                </div>
            </div>
        </section>

    </div>
{% endblock %}