{% extends 'base.html.twig' %}

{% set title_image = "banniereMaison.png" %}
{% set title = "Maison et Jardin" %}
{% set active = "maison" %}

{% block body %}
    <section id="maison" class="cd-container">
        <h1 class="title">La maison</h1>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/sejour.png') }}" alt="sejour"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="justify">Le séjour</h2>
                <p class="justify">
                    Ci-contre le séjour (23m²) du premier étage qui donne à la fois sur la cour et la rue principale de
                    Lagorce.
                    Il offre également un lit double et un canapé-lit. Une salle de bain et des toilettes sont
                    attenants.
                    Au rez-de-chaussée, un autre séjour de 26m² (non représenté ici) s'ouvre sur la cour.
                </p>
            </div>
        </div>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="justify">La cuisine</h2>
                <p class="justify">
                    Relativement petite (6.5m²) mais complétement équipée. Vaisselle et argenterie pour une douzaine de
                    personnes. Four, four à micro-ondes, réfrigérateur de grande capacité avec congélateur, table de
                    cuisson à gaz (en bouteille) avec hotte, lave-vaisselle, évier confortable. Le repas sera pris dans
                    le séjour attenant.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/cuisine.png') }}" alt="cuisine"/>
            </div>
        </div>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/chambre.png') }}" alt="chambre"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="justify">Chambres</h2>
                <p class="justify">
                    La maison comporte 5 chambres dont 3 avec salle de bain. Quatre (23,28,9 et 12m²) sont au 1er
                    étage. La plus petite est présentée ci-contre. La plus grande offre 2 lits jumeaux de 120, les 3
                    autres des lits de 140. La chambre du rez-de-chaussée (13m²) offre un lit de 140 et dispose d'une
                    salle de bain avec WC.
                    Tous les lits sont pourvus de couettes de dimensions adéquates et d'oreilliers individuels.
                </p>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="justify">Salles de bains</h2>
                <p class="justify">
                    La maison en propose 4, toutes modernes, spacieuses et bien entretenues. 3 sont équipées de douches
                    et 1 d'une baignoire. Une buanderie séparée est équipée d'un lave-linge.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/SdB.png') }}" alt="salle de bain"/>
            </div>
        </div>

    </section>

    <section id="jardin" class="cd-container">
        <h1 class="title">Le jardin</h1>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/passerelle.png') }}" alt="passerelle"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse leo ipsum,
                    cursus sed pulvinar eget, porttitor non odio. Aenean tincidunt, risus ac accumsan placerat, diam
                    elit blandit augue, id iaculis risus tortor lacinia odio. Donec ligula elit, pharetra eu ultrices
                    et, fermentum et massa. Vivamus dui urna, fringilla et ornare at, auctor et augue. Nunc efficitur
                    dictum nunc, eu luctus ex ultrices eget. Quisque interdum est justo. Fusce elit nulla, fermentum a
                    mauris lacinia, ultricies finibus est. Duis viverra, dolor eget gravida fermentum, eros ex
                    sollicitudin quam, ut facilisis eros justo et augue. Integer id commodo diam. Proin nibh mi,
                    pharetra a convallis eu, sollicitudin nec velit.
                </p>
            </div>
        </div>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse leo ipsum,
                    cursus sed pulvinar eget, porttitor non odio. Aenean tincidunt, risus ac accumsan placerat, diam
                    elit blandit augue, id iaculis risus tortor lacinia odio. Donec ligula elit, pharetra eu ultrices
                    et, fermentum et massa. Vivamus dui urna, fringilla et ornare at, auctor et augue. Nunc efficitur
                    dictum nunc, eu luctus ex ultrices eget. Quisque interdum est justo. Fusce elit nulla, fermentum a
                    mauris lacinia, ultricies finibus est. Duis viverra, dolor eget gravida fermentum, eros ex
                    sollicitudin quam, ut facilisis eros justo et augue. Integer id commodo diam. Proin nibh mi,
                    pharetra a convallis eu, sollicitudin nec velit.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/jardin1.png') }}" alt="jardin"/>
            </div>
        </div>

        <div class="row center-xs fluid">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/jardin2.png') }}" alt="jardin"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse leo ipsum,
                    cursus sed pulvinar eget, porttitor non odio. Aenean tincidunt, risus ac accumsan placerat, diam
                    elit blandit augue, id iaculis risus tortor lacinia odio. Donec ligula elit, pharetra eu ultrices
                    et, fermentum et massa. Vivamus dui urna, fringilla et ornare at, auctor et augue. Nunc efficitur
                    dictum nunc, eu luctus ex ultrices eget. Quisque interdum est justo. Fusce elit nulla, fermentum a
                    mauris lacinia, ultricies finibus est. Duis viverra, dolor eget gravida fermentum, eros ex
                    sollicitudin quam, ut facilisis eros justo et augue. Integer id commodo diam. Proin nibh mi,
                    pharetra a convallis eu, sollicitudin nec velit.
                </p>
            </div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse leo ipsum,
                    cursus sed pulvinar eget, porttitor non odio. Aenean tincidunt, risus ac accumsan placerat, diam
                    elit blandit augue, id iaculis risus tortor lacinia odio. Donec ligula elit, pharetra eu ultrices
                    et, fermentum et massa. Vivamus dui urna, fringilla et ornare at, auctor et augue. Nunc efficitur
                    dictum nunc, eu luctus ex ultrices eget. Quisque interdum est justo. Fusce elit nulla, fermentum a
                    mauris lacinia, ultricies finibus est. Duis viverra, dolor eget gravida fermentum, eros ex
                    sollicitudin quam, ut facilisis eros justo et augue. Integer id commodo diam. Proin nibh mi,
                    pharetra a convallis eu, sollicitudin nec velit.
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <img class="responsive" src="{{ asset('img/house/jardin3.png') }}" alt="jardin"/>
            </div>
        </div>

        <div class="gallery">
            <div class="row">
                <h2 class="title">Aperçu de la propriété</h2>

                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/porte.jpg') }}" itemprop="contentUrl"
                           data-size="336x468">
                            <img class="reponsive" src="{{ asset('img/gallery/porte.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Porte d'entrée"/>
                        </a>
                        <figcaption itemprop="caption description">Porte</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/façade.jpg') }}" itemprop="contentUrl"
                           data-size="2356x1852">
                            <img class="reponsive" src="{{ asset('img/gallery/façade.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Façade"/>
                        </a>
                        <figcaption itemprop="caption description">Façade</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/entree.jpg') }}" itemprop="contentUrl"
                           data-size="2392x1852">
                            <img src="{{ asset('img/gallery/entree.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Entrée"/>
                        </a>
                        <figcaption itemprop="caption description">Entrée</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/entree2.jpg') }}" itemprop="contentUrl"
                           data-size="2268x1796">
                            <img src="{{ asset('img/gallery/entree2.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Entrée 2"/>
                        </a>
                        <figcaption itemprop="caption description">Entré 2</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/cheminee.jpg') }}" itemprop="contentUrl"
                           data-size="2560x1920">
                            <img src="{{ asset('img/gallery/cheminee.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Cheminée"/>
                        </a>
                        <figcaption itemprop="caption description">Cheminée</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/sejour_bas.jpg') }}" itemprop="contentUrl"
                           data-size="2560x1920">
                            <img src="{{ asset('img/gallery/sejour_bas.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Séjour bas"/>
                        </a>
                        <figcaption itemprop="caption description">Séjour bas</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/sejour_bas2.jpg') }}" itemprop="contentUrl"
                           data-size="2560x1920">
                            <img src="{{ asset('img/gallery/sejour_bas2.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Séjour bas 2"/>
                        </a>
                        <figcaption itemprop="caption description">Séjour bas 2</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/vue_cour.jpg') }}" itemprop="contentUrl"
                           data-size="3264x2448">
                            <img src="{{ asset('img/gallery/vue_cour.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Vue cour"/>
                        </a>
                        <figcaption itemprop="caption description">Vue cour</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/cour.jpg') }}" itemprop="contentUrl"
                           data-size="2560x1920">
                            <img src="{{ asset('img/gallery/cour.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Cour"/>
                        </a>
                        <figcaption itemprop="caption description">Cour</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/cour2.jpg') }}" itemprop="contentUrl"
                           data-size="1920x2560">
                            <img src="{{ asset('img/gallery/cour2.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Cour 2"/>
                        </a>
                        <figcaption itemprop="caption description">Cour 2</figcaption>
                    </figure>

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="{{ asset('img/gallery/montee_jardin.jpg') }}" itemprop="contentUrl"
                           data-size="2560x1920">
                            <img src="{{ asset('img/gallery/montee_jardin.jpg') }}"
                                 itemprop="thumbnail"
                                 alt="Montée jardin"/>
                        </a>
                        <figcaption itemprop="caption description">Montée jardin</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/navigation.js') }}"></script>

    <!-- Core JS file -->
    <script src="{{ asset('js/photoswipe.min.js') }}"></script>
    <!-- UI JS file -->
    <script src="{{ asset('js/photoswipe-ui-default.min.js') }}"></script>
    <!-- Options Photoswipe -->
    <script src="{{ asset('js/photoswipe.option.js') }}"></script>
{% endblock %}